/* Animation Keyframes */

.delay-one {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;
}

.animated-walk {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated-walk.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated-two {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated-two.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated-three {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated-three.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes top_wall_move {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }
}

@keyframes top_wall_move {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }
}


.top_wall_move {
  -webkit-animation-name: top_wall_move;
  animation-name: top_wall_move;
}


@-webkit-keyframes cloud-float {
  0% {
    -webkit-transform: translate3d(0vw,0,0);
    transform: translate3d(0vw,0,0);
  }

  100% {
    -webkit-transform: translate3d(100vw,0,0);
    transform: translate3d(100vw,0,0);
  }
}

@keyframes cloud-float {
  0% {
    -webkit-transform: translate3d(0vw,0,0);
    transform: translate3d(0vw,0,0);
  }

  100% {
    -webkit-transform: translate3d(100vw,0,0);
    transform: translate3d(100vw,0,0);
  }
}


.cloud-float {
  -webkit-animation-name: cloud-float;
  animation-name: cloud-float;
}

@-webkit-keyframes loader_blink_one {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loader_blink_one {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.loader_blink_one {
  -webkit-animation-name: loader_blink_one;
  animation-name: loader_blink_one;
}

@-webkit-keyframes walkone {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 1;
  }

  15% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes walkone {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 1;
  }

  15% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.walkone {
  -webkit-animation-name: walkone;
  animation-name: walkone;
}

@-webkit-keyframes walktwo{
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes walktwo {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.walktwo {
  -webkit-animation-name: walktwo;
  animation-name: walktwo;
}

@-webkit-keyframes walkthree {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes walkthree {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.walkthree {
  -webkit-animation-name: walkthree;
  animation-name: walkthree;
}

@-webkit-keyframes walkfour {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  45% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes walkfour {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  45% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.walkfour {
  -webkit-animation-name: walkfour;
  animation-name: walkfour;
}

@-webkit-keyframes walkfive {
  0% {
    opacity: 0;
  }

  35% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  55% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes walkfive {
  0% {
    opacity: 0;
  }

  35% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  55% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.walkfive {
  -webkit-animation-name: walkfive;
  animation-name: walkfive;
}

@-webkit-keyframes walksix {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  65% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes walksix {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  65% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.walksix {
  -webkit-animation-name: walksix;
  animation-name: walksix;
}

@-webkit-keyframes walkseven {
  0% {
    opacity: 0;
  }

  55% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes walkseven {
  0% {
    opacity: 0;
  }

  55% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.walkseven {
  -webkit-animation-name: walkseven;
  animation-name: walkseven;
}

@-webkit-keyframes walkeight {
  0% {
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  85% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes walkeight {
  0% {
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  85% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.walkeight {
  -webkit-animation-name: walkeight;
  animation-name: walkeight;
}

@-webkit-keyframes walknine {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  95% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes walknine {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  95% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.walknine {
  -webkit-animation-name: walknine;
  animation-name: walknine;
}

@-webkit-keyframes walkten {
  0% {
    opacity: 0;
  }

  85% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes walkten {
  0% {
    opacity: 0;
  }

  85% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.walkten {
  -webkit-animation-name: walkten;
  animation-name: walkten;
}