<div class="lib">
	<div class="componentHolder">

		<p>Directiver</p>

		<h2>{{naomi.name}}</h2>

		<div class="fourth split">
			<div class="itembox">
				<div class="item"></div>
			</div>
		</div>
		<div class="fourth split">
			<div class="itembox">
				<div class="item"></div>
			</div>
		</div>
		<div class="fourth split">
			<div class="itembox">
				<div class="item"></div>
			</div>
		</div>
		<div class="fourth split">
			<div class="itembox">
				<div class="item"></div>
			</div>
		</div>

	</div>
</div>