<div class="lib topblack">

	<div class="componentHolder">

		<div class="componentNav">
			<div class="content MuseoSans">
				<div class="right">
					<div class="priceTag MuseoSansBold">0</div>
					<div class="priceTag MuseoSansBold">22</div>
					<div class="priceTag MuseoSansBold greenbg">add to cart $38</div>
				</div>
			</div>

			<div class="content MuseoSans">
				<a class="MuseoSansBold" href="#">Previews</a>
				<a href="#">Details</a>
				<a href="#">Comments</a>
				<a href="#">Related</a>
			</div>
		</div>

		<div class="content">

		<!-- Grid Items -->
			<div class="gridThird">

				<div class="gridItemPreview">
					<div class="gridItem"></div>
					<div class="gridItemInfo">
						<div class="row">
							<p class="MuseoSansBold">Caterit UI Kit</p>
							<div class="priceTag MuseoSansBold">$38</div>

						</div>
						<div class="row">
							<div class="profileTag MuseoSansBold">O</div>
							<p class="MuseoSans">by <b class="MuseoSansBold">Nigel Johnson</b> in UI Kits</p>
						</div>
					</div>
				</div>

			</div>

			<div class="gridThird">

				<div class="gridItemPreview">
					<div class="gridItem"></div>
					<div class="gridItemInfo">
						<div class="row">
							<p class="MuseoSansBold">Caterit UI Kit</p>
							<div class="priceTag MuseoSansBold">$38</div>

						</div>
						<div class="row">
							<div class="profileTag MuseoSansBold">O</div>
							<p class="MuseoSans">by <b class="MuseoSansBold">Nigel Johnson</b> in UI Kits</p>
						</div>
					</div>
				</div>
				
			</div>

			<div class="gridThird">

				<div class="gridItemPreview">
					<div class="gridItem"></div>
					<div class="gridItemInfo">
						<div class="row">
							<p class="MuseoSansBold">Caterit UI Kit</p>
							<div class="priceTag MuseoSansBold">$38</div>

						</div>
						<div class="row">
							<div class="profileTag MuseoSansBold">O</div>
							<p class="MuseoSans">by <b class="MuseoSansBold">Nigel Johnson</b> in UI Kits</p>
						</div>
					</div>
				</div>
				
			</div>

			<div class="gridThird">

				<div class="gridItemPreview">
					<div class="gridItem"></div>
					<div class="gridItemInfo">
						<div class="row">
							<p class="MuseoSansBold">Caterit UI Kit</p>
							<div class="priceTag MuseoSansBold">$38</div>

						</div>
						<div class="row">
							<div class="profileTag MuseoSansBold">O</div>
							<p class="MuseoSans">by <b class="MuseoSansBold">Nigel Johnson</b> in UI Kits</p>
						</div>
					</div>
				</div>

			</div>

			<div class="gridThird">

				<div class="gridItemPreview">
					<div class="gridItem"></div>
					<div class="gridItemInfo">
						<div class="row">
							<p class="MuseoSansBold">Caterit UI Kit</p>
							<div class="priceTag MuseoSansBold">$38</div>

						</div>
						<div class="row">
							<div class="profileTag MuseoSansBold">O</div>
							<p class="MuseoSans">by <b class="MuseoSansBold">Nigel Johnson</b> in UI Kits</p>
						</div>
					</div>
				</div>
				
			</div>

			<div class="gridThird">

				<div class="gridItemPreview">
					<div class="gridItem"></div>
					<div class="gridItemInfo">
						<div class="row">
							<p class="MuseoSansBold">Caterit UI Kit</p>
							<div class="priceTag MuseoSansBold">$38</div>

						</div>
						<div class="row">
							<div class="profileTag MuseoSansBold">O</div>
							<p class="MuseoSans">by <b class="MuseoSansBold">Nigel Johnson</b> in UI Kits</p>
						</div>
					</div>
				</div>
				
			</div>

			<div class="gridThird">

				<div class="gridItemPreview">
					<div class="gridItem"></div>
					<div class="gridItemInfo">
						<div class="row">
							<p class="MuseoSansBold">Caterit UI Kit</p>
							<div class="priceTag MuseoSansBold">$38</div>

						</div>
						<div class="row">
							<div class="profileTag MuseoSansBold">O</div>
							<p class="MuseoSans">by <b class="MuseoSansBold">Nigel Johnson</b> in UI Kits</p>
						</div>
					</div>
				</div>

			</div>

			<div class="gridThird">

				<div class="gridItemPreview">
					<div class="gridItem"></div>
					<div class="gridItemInfo">
						<div class="row">
							<p class="MuseoSansBold">Caterit UI Kit</p>
							<div class="priceTag MuseoSansBold">$38</div>

						</div>
						<div class="row">
							<div class="profileTag MuseoSansBold">O</div>
							<p class="MuseoSans">by <b class="MuseoSansBold">Nigel Johnson</b> in UI Kits</p>
						</div>
					</div>
				</div>
				
			</div>

			<div class="gridThird">

				<div class="gridItemPreview">
					<div class="gridItem"></div>
					<div class="gridItemInfo">
						<div class="row">
							<p class="MuseoSansBold">Caterit UI Kit</p>
							<div class="priceTag MuseoSansBold">$38</div>

						</div>
						<div class="row">
							<div class="profileTag MuseoSansBold">O</div>
							<p class="MuseoSans">by <b class="MuseoSansBold">Nigel Johnson</b> in UI Kits</p>
						</div>
					</div>
				</div>
				
			</div>


		</div>

	</div>
</div>